TEST_DATABASE_NAME = str
DATABASE_NAME = str
DATABASE_HOST = str
DATABASE_USER = str
DATABASE_PASSWORD = str
DATABASE_DRIVER = str
STRIPE_PUBLISHABLE_KEY = str
STRIPE_SECRET_KEY = str
HUBSPOT_API_KEY = str
SENDGRID_API_KEY = str
WELCOME_MESSAGE_TEMPLATE_ID=str
PAYMENT_CONFIRMATION_TEMPLATE_ID=str